@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.main,
.header,
.footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.footer-social-list {
  width: 142px;
  display: flex;
  margin: 0 41px 0 70px;
  flex-wrap: wrap;
}

.socials-link {
  min-width: 40px;
  height: 40px;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.main-header {
  width: 1200px;
  height: 485px;
  background-image: url("../images/index/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #81B3D3;
}

.main-page-link {
  z-index: 1;
}

.header-navigation {
  display: flex;
  padding: 0 70px;
  height: 64px;
  background-color: #ffffff;
}

.header-links {
  display: flex;
}

.navigation-list {
  width: 507px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin: 20px 16px;
  white-space: nowrap
}

.header-actions-list {
  display: flex;
}

.navigation-link {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
}

.header-image {
  display: block;
  margin: 0 auto;
  padding: 51px 0 25px;
}

.header-divider {
  display: block;
  margin: 0 auto;
}

.advantages,
.services {
    text-align: center;
}

.advantages-section-header {
  padding: 69px 0;
}

.services-section-header {
  padding: 64px 0;
}

.section-header-title {
  margin: 0 auto;
  max-width: 700px;
}

.section-header-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 25px 0 0;
}

.services-name,
.advantages-title {
  max-width: 170px;
}

.advantages-title {
  margin: 0;
}

.services-name {
  margin: 30px 0;
}

.services-description,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  max-width: 230px;
  margin: 0;
}

.services-list,
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item,
.services-item {
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 85px;
    text-align: center
}

.advantages-item.image-item {
    padding: 0;
}

.advantages-block-item {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
}

.advantages-block-item .advantages-description {
  color: #ffffff;
}

.advantages-image {
  display: block;
  margin: 0;
}

.advantages-delimeter {
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px auto;
}

.advantages-list>.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list>.advantages-item .advantages-delimeter,
.advantages-list>.advantages-item-dark .advantages-delimeter {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-list>.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.appointment {
  text-align: center;
  padding: 96px 304px;
}

.appointment-header {
  margin-top: 0;
}

.appointment-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0 0;
}

.appointment-button {
  margin-top: 54px;
}

.subscribe {
  background-image: url("../images/index/blur-background.jpg");
  background-size: 100% auto;
  color: #ffffff;
  background-color: #81B3D3;
  background-repeat: no-repeat;
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-no-background {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-title {
  margin-top: 0;
}

.subscribe-no-background .subscribe-title {
  color: #000;
}

.subscribe-no-background .subscribe-text {
  color: #333333;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.footer-bottom {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  text-align: center;
}

.result-list-item-rating-value {
  background-color: #F2F2F2;
  color: #333333;
  line-height: 20px;
  text-transform: uppercase;
}

/* Icons */
.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.search-icon {
  background-image: url('../images/icons/search.svg');
  width: 20px;
  height: 20px;
}

.heart-icon {
  background-image: url('../images/icons/heart.svg');
  width: 20px;
  height: 20px;
}

.services-icon-home {
  width: 84px;
  height: 84px;
  background-image: url("../images/icons/services/home.svg");
}

.services-icon-burger {
  width: 84px;
  height: 84px;
  background-image: url("../images/icons/services/burger.svg");
}

.services-icon-gift {
  width: 84px;
  height: 84px;
  background-image: url("../images/icons/services/gift.svg");
}

.icon-vk {
  width: 24px;
  height: 14px;
  background-image: url('../images/icons/social/vk.svg');
}

.icon-telegram {
  width: 18px;
  height: 15px;
  background-image: url('../images/icons/social/telegram.svg');
}

.icon-youtube {
  width: 22px;
  height: 17px;
  background-image: url('../images/icons/social/youtube.svg');
}

.icon-tiles {
  width: 48px;
  height: 48px;
  background-image: url('../images/icons/view-mode/tiles.svg');
}

.icon-list {
  width: 48px;
  height: 48px;
  background-image: url('../images/icons/view-mode/list.svg');
}

.icon-scroll {
  width: 48px;
  height: 48px;
  background-image: url('../images/icons/view-mode/scroll.svg');
}

.inner-header-icon-home {
  width: 13px;
  height: 15px;
  color: white;
  background-image: url('../images/icons/home.svg');
}

.inner-header-icon-breadcrumbs {
  width: 13px;
  height: 15px;
  color: white;
  background-image: url('../images/icons/breadcrumbs.svg');
}

.developer {
  margin: 0 70px 0 41px;
}
/* Buttons */

.button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-small {
  font-size: 16px;
}

.card-button {
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.button-blue {
  background-color: #82B3D3;
}

.button-transparent {
  background: none;
}

.button-brown {
  background-color: #756157;
}

.button-green {
  background-color: #7DB54F;
}

.inner-header {
  background-image: url('../images/catalog/filter-backfround.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81B3D3;
  color: #ffffff;
}

.inner-header-title {
  margin-top: 0;
}

.search-result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  margin: 50px 70px 0 70px;
}

.search-result-list {
  border-bottom: #E6E6E6 solid 1px;
  margin: 40px 70px 0;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog-sort {
  display: flex;
}

.catalog-sort-selector {
  width: 292px;
}

.catalog-sort-button-list {
  display: flex;
}

.catalog-sort-button {
  width: 48px;
  height: 48px;
  margin-left: 8px;
}

.catalog-sort-button:first-of-type {
  margin-left: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.result-header-title {
  text-transform: uppercase;
}

.result-list-item-title {
  color: #000;
  font-size: 24px;
  line-height: 28px;
}

.result-list-item-type,
.result-list-item-price {
  color: #333333;
  font-size: 18px;
}

.pagination-list {
  display: flex;
  padding: 40px 70px 60px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-link {
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.pagination-delimeter {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 22px;
  line-height: 60px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #333333;
}
